
<div class="panel panel-default">
	<div class="panel-body">
		<% if (params[:elec_choice_value]) == '11' #TX-Choice %>
			 <h3>Good News !!  You live in an area of Texas with Consumer Choice. </h3>
			
		<% elsif (params[:elec_choice_value]) != '0' #Non-TX Choice %> 
			<h3>Your Area Has Consumer Choice, but is not yet served by Simplify Electric. <br />
			Please provide your email, and we will be in touch with you soon. </h3>
	
		<% else #No Choice %>
			<h3>Your Area Does Not Have Consumer Choice, but we will let you know as soon as it is available.<br /> 
			Please provide your email. </h3>
			
		<% end %>
		
		<%= render "form" %>
	</div>