	<p>
		<center><%= image_tag "https://s3.amazonaws.com/pinterestly/SElectricity+(2).jpg"  %></center>
	</p><br>
	
<div class="jumbotron center">
	<div>
		<font color="#2d8bca"><h2>Our independent experts will keep you in the cheapest plan guaranteed.</font><br><br>To get invited to be in our next group of beta customers,<br>please sign up below.</h2>
	</div>

</div>