	<p>
		<center><%= image_tag "https://s3.amazonaws.com/pinterestly/SElectricity+(2).jpg"  %></center>
	</p><br>
	
<div class="jumbotron center">
	<div>
		<font color="#2980b9"><h2><b>Our independent experts will keep you<br>in the cheapest plan guaranteed.</font><br><br><font color="#c0392b">Sign up to be one of our next beta customers!</b></font></h2>
	</div>

</div>