	<p>
		<center><%= image_tag "https://s3.amazonaws.com/pinterestly/SElectricity+(2).jpg"  %></center>
	</p><br>
	
<div class="jumbotron center">
	<div>
		<font color="#2d8bca"><h2>We are not accepting new customers at this time.</font><br><br>If you are interested in being in our next group of beta customers,<br>please sign up below.</h2>
	</div>

</div>