	<p>
		<center><%= image_tag "https://s3.amazonaws.com/pinterestly/SElectricity+(2).jpg"  %></center>
	</p><br>
	
<div class="jumbotron center">
	<div>
		<font color="#2980b9"><h2>Our independent experts will keep you in the cheapest plan guaranteed.</font><br><br><b><font color="#c0392b">To be one of our next beta customers sign up below!</b></font></h2>
	</div>

</div>